@font-face {
    font-family: 'UbuntuLight';
    src: url('../assets/fonts/Ubuntu-Light.woff2') format(truetype);
    font-weight: 300;
}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('../assets/fonts/Ubuntu-Regular.woff2') format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('../assets/fonts/Ubuntu-Medium.woff2') format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../assets/fonts/Ubuntu-Bold.woff2') format(truetype);
    font-weight: 700;
}