@import "~normalize.css";
@import "fonts";
@import "variables";

:root {
    --mainColor: #080E18;
    --colorText: #5C7295;
    --colorStar: rgb(208, 24, 24);
    --wraper-margin: 0 auto;
    --colorSetting: #f8f8f8;
}
  
body {
    color: var(--colorText);
    font-family: $font_1, sans-serif;
    background-color: var(--mainColor);
}

.main {
    margin: var(--wraper-margin);
    overflow: hidden;
}

.fa-angle-down {
    padding-left: 0.5rem;
    font-size: 1.4rem;
}

.fa-star {
    color: var(--colorStar);
    font-size: 0.5rem;
}

.fa-ethereum {
    padding-right: 1rem;
}

.fa-wallet {
    padding-right: 1rem;
}

.fa-gear {
    &:hover {
        color: var(--colorSetting);
    }
}

.burger {
    &.burger_active {
        .burger_item {
            &:nth-child(1) {
                transform-origin: left top;
                transform: rotate(45deg) translateY(8px);
                width: 75%;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform-origin: bottom left;
                transform: rotate(-45deg) translateY(2px);
                width: 75%;
            }
        }
    }
}