@import "~normalize.css";
@import "fonts";
@import "variables";

:root {
    --mainColor: #080E18;
    --colorText: #5C7295;
    --colorStar: red;
    --wraper-margin: 0 auto;
}
  
body {
    color: var(--colorText);
    font-family: UbuntuLigh, sans-serif;
    background-color: var(--mainColor);
}

.main {
    margin: var(--wraper-margin);
    overflow: hidden;
}


.fa-angle-down {
    padding-left: 0.5rem;
    font-size: 1.4rem;
}

.fa-star {
    color: var(--colorStar);
    font-size: 0.5rem;
}