$color: rgb(34, 28, 28);
$font-size: 10px;
$font-color: lch(53 105 40);

//media queries
$desktop: 1200px;
$laptop: 991px;
$tablet: 768px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 390px;
$mobile-sm-landscape: 650px;