$font_1: 'UbuntuLight';
$font_2: 'UbuntuMedium';

//media queries
$desktop: 1200px;
$laptop: 991px;
$tablet: 768px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 390px;
$mobile-sm-landscape: 650px;